
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    font-family: 'Bai Jamjuree', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(90deg, #a5f3fc  0%, #1d4ed8 100% );
}
body h2{
    color: #052e16;
    padding-bottom: 20px;
}

main{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spanQtd{
  text-align: end;  
}

.answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button{
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:#0891b2 ;
    color: #fff;
}

.finish{
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button{
    text-align: center;
}



/* media query************** */

@media(max-width:576px){
   body h2{
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
}